body {
    background-color: azure;
    color: rgb(119, 139, 235);
}

.btn {
    cursor: pointer;
}

.clicked {
    color: rgb(99, 205, 218);
}

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
}
